In [1]:
name = "abc"
print(name)

abc

In [2]:
name = "abc"
print(name)
name = "def"
print(name)

abc
def

In [3]:
name = "ada lovelace"
print(name.title())
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

In [9]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)
message = "Hello, " + full_name.title() + "!"
print(message)

ada lovelace
Hello, Ada Lovelace!

In [13]:
print("Python")
print("\tPython")
print("\t\tPython")
print("Languages:\nPython\nC\nJavaScript")
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Python
	Python
		Python
Languages:
Python
C
JavaScript
Languages:
	Python
	C
	JavaScript

In [ ]:
language = 'Python '
language

'Python '

In [18]:
language = 'Python '
language.rstrip()

'Python'

In [21]:
language = 'Python '
language = language.rstrip()
# rstrip 去除右空格 lstrip 去除左空格 strip 去除左右空格
language

'Python'

In [20]:
language = ' Python '
language = language.strip()
language

'Python'

In [25]:
message = "One of Python's strengths is its diverse community."
print(message)

One of Python's strengths is its diverse community.

In [29]:
name = "Eric" 
message = "Hello " + name + ", would you like to learn some Python today?"
print(message)
print(name.title())
print(name.upper())
print(name.lower())

Hello Eric, would you like to learn some Python today?
Eric
ERIC
eric

In [31]:
famous_person = "Albert Einstein"
message = famous_person + ' once said, "A person who never made a mistake never tried anything new."'
print(message)

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [33]:
name = " Albert\n\tEinstein "
print(name)
print(name.lstrip())
print(name.rstrip())
print(name.strip())

 Albert
	Einstein
Albert
	Einstein
 Albert
	Einstein
Albert
	Einstein

In [34]:
3+3

6

In [36]:
3 ** 2  #**表示乘方运算

9

In [40]:
0.1 + 0.2
3 / 2

1.5

In [39]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!

In [45]:
# 注释
print(5 + 3)
favourite_number = 6
message = "I love number " + str(favourite_number) + "!"
print(message)

8
I love number 6!

In [46]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [51]:
# 列表
bicycles = ['trek', 'connondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())
print(bicycles[-1]) #-1表示最后一个元素

message = "My first bicycles was a " + bicycles[0].title() + "."
print(message)

['trek', 'connondale', 'redline', 'specialized']
trek
Trek
specialized
My first bicycles was a Trek.

In [53]:
names = ['amily', 'bill', 'chris', 'dick']
print(names[0].title())
message = "Hello, " + names[0].title() + "!"
print(message)

Amily
Hello, Amily!

In [56]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

#motorcycles[0] = 'ducati'
#print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [57]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [58]:
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [59]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [60]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [61]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

['honda', 'yamaha', 'suzuki']
The first motorcycle I owned was a Honda.

In [63]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.remove('honda')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [64]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

too_expensive = 'honda'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

A Honda is too expensive for me.

In [79]:
guests = ['amily', 'bill', 'cris']
print("I would like to invite " + guests[0] + " to my party.")
print("I would like to invite " + guests[1] + " to my party.")
print("I would like to invite " + guests[2] + " to my party.")

absence = 'bill'
print(absence)

guests[1] = 'ben'
print(guests)

guests.insert(0, 'apple')
print(guests)

guests.insert(1, 'cat')
print(guests)

guests.append('dog')
print(guests)

popped = guests.pop()
print("Sorry for being disabled to invite " + popped + '.')

del guests[0]
print(guests)

I would like to invite amily to my party.
I would like to invite bill to my party.
I would like to invite cris to my party.
bill
['amily', 'ben', 'cris']
['apple', 'amily', 'ben', 'cris']
['apple', 'cat', 'amily', 'ben', 'cris']
['apple', 'cat', 'amily', 'ben', 'cris', 'dog']
Sorry for being disabled to invite dog.
['cat', 'amily', 'ben', 'cris']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

cars.sort()
print(cars)
cars.sort(reverse = True)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

In [85]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars, reverse = True))

print("\nHere is the original list:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

In [88]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

print(len(cars))

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']
4

In [ ]:
# book P.41
places = ['China', 'England', 'Britain', 'America', 'Dutch']
print(places)

print(sorted(places))
print(places)

print(sorted(places, reverse = True))
print(places)

places.reverse()
print(places)

places.reverse()
print(places)

places.sort()
print(places)

places.sort(reverse = True)
print(places)

print(len(places))

['China', 'England', 'Britain', 'America', 'Dutch']
['America', 'Britain', 'China', 'Dutch', 'England']
['China', 'England', 'Britain', 'America', 'Dutch']
['England', 'Dutch', 'China', 'Britain', 'America']
['China', 'England', 'Britain', 'America', 'Dutch']
['Dutch', 'America', 'Britain', 'England', 'China']
['China', 'England', 'Britain', 'America', 'Dutch']
['America', 'Britain', 'China', 'Dutch', 'England']
['England', 'Dutch', 'China', 'Britain', 'America']
5

In [100]:
# Chapter 4
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    # print(magician)
    print(magician.title() + ", that was ga great trick!")
    print("I can't wait to see your next trick, " + magician.title() + "\n")

Alice, that was ga great trick!
I can't wait to see your next trick, Alice

David, that was ga great trick!
I can't wait to see your next trick, David

Carolina, that was ga great trick!
I can't wait to see your next trick, Carolina

In [142]:
# 4.2
pizzas = ['apple', 'banana', 'cherry']
for pizza in pizzas:
    print("I like " + pizza + ' pizza')
print('I really love pizza.')

friend_pizzas = pizzas[:]
friend_pizzas.append('grape')

print(pizzas)
print(friend_pizzas)

I like apple pizza
I like banana pizza
I like cherry pizza
I really love pizza.
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'grape']

In [109]:
animals = ['cat', 'dog', 'rabbit']
for animal in animals:
    print('A ' + animal + ' would make a great pet')
print('Any of these animals would make a great pet.')

A cat would make a great pet
A dog would make a great pet
A rabbit would make a great pet
Any of these animals would make a great pet.

In [111]:
# 4.3
for value in range(1, 5):
    print(value)

1
2
3
4

In [112]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [113]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [114]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [115]:
squares = []
for value in range(1, 11):
    squares.append(value ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [117]:
digits = list(range(1, 10))
digits.append(0)
print(digits)

print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
45

In [118]:
squares = [value ** 2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [119]:
for value in range(1, 21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [121]:
numbers = list(range(1, 1000001))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000000
500000500000

In [124]:
three_numbers = list(range(3, 31, 3))
for value in three_numbers:
    print(value)

3
6
9
12
15
18
21
24
27
30

In [126]:
cubes = []
for value in range(1, 11):
    cubes.append(value ** 3)

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [129]:
cubes = [value ** 3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [141]:
# 4.4
players = ['charles', 'matina', 'michael', 'florence', 'eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

print("The last three items in the list are:")
for player in players[-3:]:
    print(player.title())

['charles', 'matina', 'michael']
['matina', 'michael', 'florence']
['charles', 'matina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']
Here are the first three players on my team:
Charles
Matina
Michael
The last three items in the list are:
Michael
Florence
Eli

In [143]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("My friend's favorites foods are:")
print(friend_foods)

for food in my_foods:
    print(food)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']
My friend's favorites foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']
pizza
falafel
carrot cake
cannoli

In [150]:
# 4.5 元组
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

for dimension in dimensions:
    print(dimension)

dimensions = (400, 100)
print(dimensions)

200
50
200
50
(400, 100)

In [153]:
foods = ('apple', 'banana', 'cherry', 'pear', 'grape')

for food in foods:
    print(food)

foods = ('apples', 'bananas', 'cherry', 'pear', 'grape')

for food in foods:
    print(food)

apple
banana
cherry
pear
grape
apples
bananas
cherry
pear
grape